<footer>
    <div class="ftrFirstColumn">
        <h4>Getting Started</h4>
        <p><a href="./Home.html">HOME</a></p>
        <p><a href="./Spells.html">SPELLS</a></p>
        <p><a href="./Monsters.html">MONSTERS</a></p>
        <p><a href="./Equipment.html">EQUIPMENT</a></p>
    </div>
    <div class="ftrSecondColumn">
        <h4>Useful links</h4>
        <p><a href="/equipment/form/create" target="_blank">CONTACT US</a></p>
        <p><a href="https://5thsrd.org/#spellcasting" target="_blank">SPELLCASTING</a></p>
        <p><a href="https://5thsrd.org/#combat" target="_blank">COMBAT</a></p>
        <p><a href="https://5thsrd.org/#adventuring" target="_blank">ADVENTURING</a></p>
    </div>
    <div class="ftrThirdColumn">
        <h4>Contact us</h4>
        <div class="contactGrid">
            <a href="https://www.facebook.com/" target="_blank"><img src="/images/footer/facebook.png"></a>
            <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="/images/footer/instagram.png"></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img src="/images/footer/twitter.png"></a>
            <a href="https://bg.linkedin.com/" target="_blank"><img src="/images/footer/linkedin.png"></a>
        </div>
    </div>
    <div class="ftrCopyright">
        <p>Copyright &copy; 2019-2020 Irolife Industries</p>
    </div>
</footer>