
        <div class="navigation">
            <p><a href="/">HOME</a></p>
            <p><a href="/spells">SPELLS</a></p>
            <p><a href="/monsters">MONSTERS</a></p>
            <p><a href="/equipment">EQUIPMENT</a></p>
        </div>