<html>
    <%-include('./partials/head.ejs')%>
    <body>
        <%-include('./partials/nav.ejs')%>
        <div id="errorMain">
            <h1>ERROR 404</h1>
            <h2>page not found</h2>
        </div>
        <%- include('./partials/footer.ejs')%>
    </body>

</html>