<html>
    <%- include('./partials/head.ejs')%> 
        
    <body>
        
        <%- include('./partials/nav.ejs')%>
        <div class="main">
          <form id="emailForm">
            <input type="text" id="emailArea">
            <input type="text" id="subjectArea">
            <textarea id="messageArea"></textarea>
            <input type="submit" id="submitButton">
          </form> 
        </div>
        <%- include('./partials/footer.ejs')%>
        
    </body>

</html>