
<html>
  
    <%- include('./partials/head.ejs')%>      

    <body>
        
        <%- include('./partials/nav.ejs')%>

        <div class="main">
            <div class="mpic mpicGrid">
                    <h1 class="mpicH1">D&DM</h1>
                    <h2>A new  way to find reference information</h2>
                
            </div>
            <div class="mquery ">
                <h3>Reference information with no hassle</h3>

                <div class="firstPic"></div>
                <p id="MSpells">Spells</p>

                <div class="secondPic"></div>
                <p id="MMonsters">Monsters</p>

                <div class="thirdPic"></div>
                <p id="MEquipment">Equipment</p>
                
                
            </div>
        </div>
        <%- include('./partials/footer.ejs')%>
        
    </body>

</html>